
<!DOCTYPE>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Agenda</title>
  </head>     
  <body>          
<!-- Toolbar -->
<div>
  <h1 style="text-align: center;">Agenda</h1>
</div>

<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">   
      <a class="navbar-brand" href="#">Agenda</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">               
            <a class="nav-link" aria-current="page" [routerLink]="['/agenda/mostrar-todos']">Mostrar todos</a>
          </li>         
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/agenda/crear-contacto']">Crear contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
      
</div>

</body>
</html>